[submodule "CypressLibCore"]
	path = CypressLibCore
	url = https://github.com/Cfauto28/Cypress-Lib-Core
[submodule "Cypress-deAWT"]
	path = Cypress-deAWT
	url = https://github.com/Cfauto28/Cypress-deAWT
[submodule "ExtModMenu"]
	path = ExtModMenu
	url = https://github.com/Cfauto28/ExtModMenu
[submodule "OSL"]
	path = OSL
	url = https://github.com/Cfauto28/ornithe-standard-libraries
[submodule "CypressLWJGL3"]
	path = CypressLWJGL3
	url = https://github.com/Cfauto28/CypressLWJGL3.git
[submodule "CypressOptiFabric"]
	path = CypressOptiFabric
	url = https://github.com/Cfauto28/CypressOptiFabric
[submodule "CypressForgeTextures"]
	path = CypressForgeTextures
	url = https://github.com/Cfauto28/CypressForgeTextures.git
[submodule "MoreIDs"]
	path = MoreIDs
	url = https://github.com/Cfauto28/MoreIDs.git
